<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>startup</title>
    <style>
        body {
      background-color: lightblue;
      }</style>
</head>
<body>
    <h1>This is a web application to predict if a person is having Autism</h1>
    <form action ="/login" method = "post">
    
    <p>A1_Score</p>
    <p><input type ="text" name ="A1"/></p>
    
    <p>A2_Score</p>
    <p><input type ="text" name ="A2"/></p>

    <p>A3_Score</p>
    <p><input type ="text" name ="A3"/></p>

    <p>A4_Score</p>
    <p><input type ="text" name ="A4"/></p>

    <p>A5_Score</p>
    <p><input type ="text" name ="A5"/></p>

    <p>A6_Score</p>
    <p><input type ="text" name ="A6"/></p>

    <p>A7_Score</p>
    <p><input type ="text" name ="A7"/></p>

    <p>A8_Score</p>
    <p><input type ="text" name ="A8"/></p>

    <p>A9_Score</p>
    <p><input type ="text" name ="A9"/></p>

    <p>A10_Score</p>
    <p><input type ="text" name ="A10"/></p>

    <p>Age</p>
    <p><input type="text" name="Age"/></p>

    <p>Jundice</p>
    <p><input type="text" name="jd"/></p>

    <p>Autism</p>
    <p><input type="text" name="atm"/></p>

    <p>Used_app_before</p>
    <p><input type="text" name="app"/></p>

    <p>Result</p>
    <p><input type="text" name="res"/></p>

    <p><input type ="submit" value ="submit"/></p>

    <h2><b>{{y}}</b></h2>

    
    
</form>     
</body>
</html>